:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  padding: 0.8rem;
}

.main {
  display: flex;
  padding: 1rem;
  gap: 3rem;
}

.inputFields {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.generalSection {
  background-color: grey;
  border-radius: 4px;
}

.educationSection {
  background-color: grey;
  border-radius: 4px;
}

.workSection {
  background-color: grey;
  border-radius: 4px;
}

.displayFields {
  flex: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
}

.displayContainer {
  background-color: white;
  padding: 1rem;
}

.responsibilities {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.displayGeneral {
  transition: box-shadow 0.3s ease;
  padding: 5px;
}

.displayGeneral:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.educationItem {
  transition: box-shadow 0.3s ease;
  padding: 5px;
}

.educationItem:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.workItem {
  transition: box-shadow 0.3s ease;
  padding: 5px;
}

.workItem:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
